<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Debug</key>
	<dict>
		<key>endpoints</key>
		<dict>
			<key>categories</key>
			<string>${bundle}/categories.json</string>
			<key>categoriesFacts</key>
			<string>${bundle}/categoryFacts.json</string>
			<key>facts</key>
			<string>${bundle}/facts.json</string>
		</dict>
	</dict>
	<key>Release</key>
	<dict>
		<key>endpoints</key>
		<dict>
			<key>categories</key>
			<string>https://api.chucknorris.io/jokes/categories</string>
			<key>categoriesFacts</key>
			<string>https://api.chucknorris.io/jokes/random</string>
			<key>facts</key>
			<string>https://api.chucknorris.io/jokes/search</string>
		</dict>
	</dict>
</dict>
</plist>
